@charset "utf-8";
/* CSS Document */

body p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.2em;
	color: #333;
	text-align: center;
}
#box {

}
.align {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}
